body{
    margin: 0px;
    padding: 0px;
}
.main_background{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(237,177,249,1) 95%);
    width: 100%;
    height: 100vh;
}
.flex_list ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 10px;
    align-items: center;
}
.flex_list ul li{
    list-style: none;
}
.flex_list ul li a{
    text-decoration: none;
   
}
.flex_list ul li a img{
    width: 100px;
}
.inline_img ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inline_img ul li{
    list-style: none;
}
.inline_img ul li a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: bolder;
}
.inline_img ul li a img{
    width: 260px;
}
.wave{
   margin-top: -70px;
    width: 100%;
}
.inline_twoblocks{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}
.text h1{
    color: rgb(0, 60, 255);
    font-size: 30px;
}
.text p{
    color: rgb(0, 4, 255);
}
.product{
    color: rgb(9, 19, 77);
    font-size: 35px;
    letter-spacing: 2px;
    margin-left: 50px;
}
.banner_second{
    width: 100%;
    height: 100vh;
    position: relative;
}
.banner_second::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 500px;
    bottom: 0;
    left: 0;
    background: linear-gradient( to top , rgb(138, 240, 253) , transparent);
}
.inline_threeblocks{
    display: flex;
    justify-content: space-around;

}
.secondbanner_title{
   margin-top: -90px;
}
.card1{
    background-color: rgb(150, 210, 228);
    border-radius: 95px;
    height: 330px;
    width: 230px;
    position: relative;
}
.card1 img{
    width: 150px;
    padding-left: 20px;
    padding-top: 20px;
}

.card2{
    background-color: rgb(173, 150, 228);
    border-radius: 95px;
    height: 330px;
    width: 230px;
    position: relative;
    margin-top: 50px;
}
.card2 img{
    width: 250px;
   
}
.card3{
    background-color: rgb(225, 150, 228);
    border-radius: 85px;
    height: 330px;
    width: 230px;
    position: relative;
}
.card3 img{
    width: 200px;
    padding-bottom: 20px;
   
}
.card1 h1{
    font-size: 35px;
    color: rgb(0, 60, 255);
    margin: 0;
}
.card1 p{
    font-size: 15px;
    color: rgb(0, 60, 255);
  
}
.card1 a{
    text-decoration: none;
    color: white;
    background: rgb(150, 210, 228);
    padding: 10px 20px;
    border-radius: 50px;
}
.card2 h1{
    font-size: 35px;
    color: rgb(153, 0, 255);
    margin: 0;
   
}
.card2 p{
    font-size: 15px;
    color: rgb(140, 0, 255);
  
}
.card2 a{
    text-decoration: none;
    color: white;
    background: rgb(167, 150, 228);
    padding: 10px 20px;
    border-radius: 50px;
}
.card3 h1{
    font-size: 35px;
    color: rgb(225, 0, 255);
    margin: 0;
}
.card3 p{
    font-size: 15px;
    color: rgb(255, 0, 255);
  
}
.card3 a{
    text-decoration: none;
    color: white;
    background: rgb(224, 122, 228);
    padding: 10px 20px;
    border-radius: 50px;
}
.banner_third{
    display: flex;
    justify-content: space-around;
}
.bannersecond_title h1{
    font-size: 40px;
    margin-bottom: 80px;
    letter-spacing: 3px;
}
.bannersecond_title p{
    margin-bottom: 40px;
}
.bannersecond_title a{
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 25px;
}
.interesting{
    letter-spacing: 4px;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
}
.inline_fiveblocks{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.box1{
    width: 250px;
    height: 250px;
    background: black;
    margin-top: 30px;
}
.box2{
    width: 250px;
    height: 250px;
    background: black;
}
.box3{
    width: 250px;
    height: 250px;
    background: black;
    margin-top: 30px;
}
.box4{
    width: 250px;
    height: 250px;
    background: black;
}
.column{
    display: flex;
    flex-direction: column;
}
.box_title h1{
    margin: 0px;
    margin-top: 15px;
}






















































 footer{
    background-color: black;
    color: white;
}
.flex_blocks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.first_block{
    margin-top: 90px;
}
.third_block{
    margin-top: 90px;
}
.forth_block{
    margin-top: 90px;
}
.email{
    color: grey;
    position: relative;
    padding-bottom: 15px;
}
.follow{
    color: grey;
}
.social{
    font-size: 20px;
    letter-spacing: 2px;
}
.icon{
    margin-bottom: 30px;
}
.email::before{
    content: '';
    width: 100%;
    height: 2px;
    background: grey;
    position: absolute;
    bottom: 0;
}
.first_block p{
    font-size: 15px;
}
.third_block h1{
    font-size: 20px;
    letter-spacing: 2px;
}
.third_block p{
    font-size: 15px;
}
.forth_block h1{
    font-size: 20px;
    letter-spacing: 2px;
}
.forth_block p{
    font-size: 15px;
}
.inline_footerblocks {
   display: flex;
   justify-content: space-around;
}
.inline_footerblocks img{
    width: 50px;
}
.inline_footerblocks h1{
    color: grey;
    font-size: 30px;
}






















/* MEDIA */
@media(max-width:1056px){
    .inline_img ul li a img{
        width: 100px;
    }
    .inline_img ul li a{
        font-size: 25px;
    }
    .card{
        height: 300px;
        width: 200px;
    }
    .card img{
        width: 120px;
    }
}
@media(max-width:826px){
    .inline_threeblocks{
        display: flex;
        flex-wrap: wrap;
    }
    .banner_second{
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .banner_second::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0;
        left: 0;
        background: linear-gradient( to top , rgb(138, 240, 253) , transparent);
    }
    .inline_fiveblocks{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:608px){
    .card3{
        display: none;
    }
    .flex_blocks{
        display: flex;
        flex-wrap: wrap;
    }
    .banner_third{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:608px){
    .card2{
        height: 300px;
        width: 200px;
        margin-top: 0;
    }
    .card2 img{
        width: 160px;
    }
}
@media(max-width:508px){
    .inline_twoblocks{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:478px){
    .inline_footerblocks{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:448px){
    .inline_img ul{
      display: flex;
      flex-wrap: wrap;
    }
}
@media(max-width:378px){
    .card2{
        display: none;
    }
    .flex_list ul{
        display: flex;
        flex-wrap: wrap;
    }
    .inline_footerblocks h1{
        font-size: 20px;
    }

}
@media(max-width:360px){
    .wave{
        display: none;
    }
}
@media(max-width:330px){
   
}